!!! 5
%head
  %link{href:"http://taylor.fausak.me/static/images/apple-touch-startup-image-640x1096.png", media:"(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", rel:"apple-touch-startup-image"}
  %title MapSwitcher
%body
  %ul#feeds
  %button#signal signal server
  %button#send-mocked-mail mocked email 
  %button#mock-websocket mockwebsocket
  %button#socket-server-signal socket-server-signal 
  %button#getJSON get JSON 
  #link
%script{src:'bower_components/jquery/jquery.js'}
%script{src:'js/htmlDecode.js'}
%script{src:'js/broswer_detecter.js'}
%script{src:'js/getLocation.js'}
%script{src:'js/URLParser.js'}
%script{src:'js/main.js'}
